<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <link rel="stylesheet" th:href="@{/css/manageApelacion.css}" href="css/manageApelacion.css" type="text/css" />
    <title>Apelación</title>
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="fragments/sidebar.html :: sidebar"></header>

    <input type="hidden" th:value="${ap.id}" id="apId"></input>

    <div class="contentBody">
        
        <div class="contentPanel firstPanel">
            
            <h1 id="manageApTitle">Apelación</h1><span id="apIdSpan" th:text="'Nº ' + ${ap.id}">asd</span>

            <div class="row formRow">
                <div class="col">
                    <label for="numeroExpediente" class="inputLabel">Número de expediente*</label>
                    <input class="form-control" id="numeroExpediente" th:value="${ap.numeroExpediente}" onchange="updateApelacion()"></input>
                </div>
                <div class="col">
                    <label for="acronimo" class="inputLabel">Acrónimo*</label>
                    <input class="form-control" id="acronimo"  maxlength="10" th:value="${ap.acronimo}" onchange="updateApelacion()"></input>
                </div>
            </div>

            <div class="row formRow">
                <div class="col">
                    <label for="fechaCertificacion" class="inputLabel">Fecha de certificación*</label>
                    <input type="date" class="form-control" id="fechaCertificacion" th:value="${ap.fechaCertificacion}" onchange="updateApelacion()"></input>
                </div>
                <div class="col">
                    <label for="cliente" class="inputLabel">Cliente*</label>
                    <input class="form-control" id="cliente" th:value="${ap.cliente}" onchange="updateApelacion()"></input>
                </div>
            </div>

            <div class="row mt-5">
                <div class="col col-md-1"><hr></div>
                <div class="col col-md-3 d-flex justify-content-center"><span class="hrTitle">Registro de recepción</span></div>
                <div class="col"><hr></div>
            </div>

            <div class="row formRow">
                <div class="col col-md-6">
                    <label for="fechaRegistroRecepcion" class="inputLabel">Fecha del registro de recepción</label>
                    <input type="date" class="form-control" id="fechaRegistroRecepcion" th:value="${ap.fechaRegistroRecepcion}" onchange="updateApelacion()"></input>
                </div>

                <th:block th:each="apFile,iter: ${ap.documentosRegistroRecepcion}">
                    <div class="col col-md-6 fileCol" th:id="${apFile.id}">
                        <label class="inputLabel">Documento</label>
                        <input type="text" class="form-control apelacionArchivo" id="apelacion" th:value="${apFile.archivo.name}" disabled>
                        <a class="iconLinkButton " th:href="@{/media/apelaciones/{id}{extension}?downloadName={name}(id=${apFile.archivo.id},extension=${apFile.archivo.extension}, name=${apFile.archivo.name})}">
                            <button type="button" class="btn btn-primary downloadDocumentoButton">
                                <i class="bi bi-file-earmark-arrow-down"></i>
                            </button>
                        </a>
                        <input type="hidden" id="archivoId" th:value="${apFile.archivo.id}">
                        <button type="button" class="btn btn-danger" id="deleteDocumentoButton" data-bs-toggle="modal" data-bs-target="#eliminarDocumentoApelacionModal"  onclick="updateDocumentoToDelete(event)">
                            <i class="bi bi-trash"></i>
                        </button>
                    </div>
                </th:block>
                
                <div class="col col-md-6" id="colToAppendDocumentoRegistroRecepcion">
                    <label for="addDocumentoRegistroRecepcionFormButton" class="inputLabel transparentLabel">Documento</label>
                    <button type="button" class="btn btn-primary" id="addDocumentoRegistroRecepcionFormButton" onclick="addDocumentoRegistroRecepcionHTML()">Añadir documento</button>
                </div>
            </div>

            <hr class="formRow mb-5 mt-4">

            <div class="row mt-5">
                <div class="col col-md-1"><hr></div>
                <div class="col col-md-3 d-flex justify-content-center"><span class="hrTitle">Acuse de recibo</span></div>
                <div class="col"><hr></div>
            </div>

            <div class="row formRow">
                <div class="col col-md-6">
                    <label for="fechaAcuseRecibo" class="inputLabel">Fecha del acuse de recibo</label>
                    <input type="date" class="form-control" id="fechaAcuseRecibo" th:value="${ap.fechaAcuseRecibo}" onchange="updateApelacion()"></input>
                </div>

                <th:block th:each="apFile,iter: ${ap.documentosAcuseRecibo}">
                    <div class="col col-md-6 fileCol" th:id="${apFile.id}">
                        <label class="inputLabel">Documento</label>
                        <input type="text" class="form-control apelacionArchivo" id="apelacion" th:value="${apFile.archivo.name}" disabled>
                        <!-- <p class="inlineBlockP" th:text="${nc.documentoExtension.name}"></p> -->
                        <a class="iconLinkButton " th:href="@{/media/apelaciones/{id}{extension}?downloadName={name}(id=${apFile.archivo.id},extension=${apFile.archivo.extension}, name=${apFile.archivo.name})}">
                            <button type="button" class="btn btn-primary downloadDocumentoButton">
                                <i class="bi bi-file-earmark-arrow-down"></i>
                            </button>
                        </a>
                        <input type="hidden" id="archivoId" th:value="${apFile.archivo.id}">
                        <button type="button" class="btn btn-danger" id="deleteDocumentoButton" data-bs-toggle="modal" data-bs-target="#eliminarDocumentoApelacionModal"  onclick="updateDocumentoToDelete(event)">
                            <i class="bi bi-trash"></i>
                        </button>
                    </div>
                </th:block>

                <div class="col col-md-6" id="colToAppendDocumentoAcuseRecibo">
                    <label for="addDocumentoAcuseReciboFormButton" class="inputLabel transparentLabel">Documento</label>
                    <button type="button" class="btn btn-primary" id="addDocumentoAcuseReciboFormButton" onclick="addDocumentoAcuseReciboHTML()">Añadir documento</button>
                </div>
            </div>

            <hr class="formRow mb-5 mt-4">

            <div class="row mt-5">
                <div class="col col-md-1"><hr></div>
                <div class="col col-md-3 d-flex justify-content-center"><span class="hrTitle">Informe de respuesta</span></div>
                <div class="col"><hr></div>
            </div>

            <div class="row formRow">
                <div class="col col-md-6">
                    <label for="fechaInformeRespuesta" class="inputLabel">Fecha del informe de respuesta</label>
                    <input type="date" class="form-control" id="fechaInformeRespuesta" th:value="${ap.fechaInformeRespuesta}" onchange="updateApelacion()"></input>
                </div>

                <th:block th:each="apFile,iter: ${ap.documentosInformeRespuesta}">
                    <div class="col col-md-6 fileCol" th:id="${apFile.id}">
                        <label class="inputLabel">Documento</label>
                        <input type="text" class="form-control apelacionArchivo" id="apelacion" th:value="${apFile.archivo.name}" disabled>
                        <!-- <p class="inlineBlockP" th:text="${nc.documentoExtension.name}"></p> -->
                        <a class="iconLinkButton " th:href="@{/media/apelaciones/{id}{extension}?downloadName={name}(id=${apFile.archivo.id},extension=${apFile.archivo.extension}, name=${apFile.archivo.name})}">
                            <button type="button" class="btn btn-primary downloadDocumentoButton">
                                <i class="bi bi-file-earmark-arrow-down"></i>
                            </button>
                        </a>
                        <input type="hidden" id="archivoId" th:value="${apFile.archivo.id}">
                        <button type="button" class="btn btn-danger" id="deleteDocumentoButton" data-bs-toggle="modal" data-bs-target="#eliminarDocumentoApelacionModal"  onclick="updateDocumentoToDelete(event)">
                            <i class="bi bi-trash"></i>
                        </button>
                    </div>
                </th:block>

                <div class="col col-md-6 jsCol" id="colToAppendDocumentoInformeRespuesta">
                    <label for="addDocumentoInformeRespuestaFormButton" class="inputLabel transparentLabel" onchange="updateApelacion()">Documento</label>
                    <button type="button" class="btn btn-primary" id="addDocumentoInformeRespuestaFormButton" onclick="addDocumentoInformeRespuestaHTML()">Añadir documento</button>
                </div>
            </div>

            <hr class="formRow mb-5 mt-4">

            <div class="row formRow">
                <div class="col col-md-6">
                    <label for="plazoLimite" class="inputLabel">Plazo límite</label>
                    <input type="date" class="form-control" id="plazoLimite" th:value="${ap.plazoLimite}" onchange="updateApelacion()"></input>
                </div>
            </div>

        </div>

        <div class="contentPanel">
            <h3 id="revisionProcesoTitle">Revisión del proceso</h3>
            <div class="accordion" id="revisionProcesoAccordion">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#revisionDocumentalAccordion" aria-expanded="false" aria-controls="revisionDocumentalAccordion">
                            <div class="row">
                                <div class="col">
                                    Revisión documental
                                </div>
                            </div> 
                        </button>
                    </h2>
                    <div id="revisionDocumentalAccordion" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#revisionProcesoAccordion">
                        <div class="row accordion-body">
                            <div class="col">
                                <p>- Memoria técnica (versión)</p>
                                <p>- Informe de Revisión Inicial</p>
                            </div>
                            <div class="col">
                                <div class="form-check form-switch d-flex align-items-center">
                                    <label class="form-check-label customSwitchLeftLabel" for="revisionDocumentalSwitch" id="revisionDocumentalSwitchLabel">OK</label>
                                    <input th:if="${ap.revisionDocumental}" checked class="form-check-input customSwitch" type="checkbox" role="switch" id="revisionDocumentalSwitch" onchange="manageSwitch(event); updateApelacion()">
                                    <input th:unless="${ap.revisionDocumental}" class="form-check-input customSwitch" type="checkbox" role="switch" id="revisionDocumentalSwitch" onchange="manageSwitch(event); updateApelacion()">
                                    <label class="form-check-label customSwitchRightLabel" for="revisionDocumentalSwitch" id="revisionDocumentalSwitchLabel">KO</label>
                                </div>
                                <div class="row incidenciasRowDiv" id="incidenciasRow">
                                    <div class="col">
                                        <label for="incidencias" class="inputLabel">Identificación de incidencias</label>
                                        <textarea class="form-control" id="incidenciasRevisionDocumental" onchange="updateApelacion()" th:text="${ap.revisionDocumentalText}"></textarea>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#solicitudRequerimientosAccordion" aria-expanded="false" aria-controls="solicitudRequerimientosAccordion">
                            Solicitud de requerimientos
                        </button>
                    </h2>
                    <div id="solicitudRequerimientosAccordion" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#revisionProcesoAccordion">
                        <div class="row accordion-body">
                            <div class="col">
                                <p>- Se comprueba que todas las solicitudes de requerimiento estan registradas y cerradas</p>
                            </div>
                            <div class="col">
                                <div class="form-check form-switch d-flex align-items-center">
                                    <label class="form-check-label customSwitchLeftLabel" for="solicitudRequerimientosSwitch" id="solicitudRequerimientosSwitchLabel">OK</label>
                                    <input th:if="${ap.solicitudRequerimientos}" checked class="form-check-input customSwitch" type="checkbox" role="switch" id="solicitudRequerimientosSwitch" onchange="manageSwitch(event); updateApelacion()">
                                    <input th:unless="${ap.solicitudRequerimientos}" class="form-check-input customSwitch" type="checkbox" role="switch" id="solicitudRequerimientosSwitch" onchange="manageSwitch(event); updateApelacion()">
                                    <label class="form-check-label customSwitchRightLabel" for="solicitudRequerimientosSwitch" id="solicitudRequerimientosSwitchLabel">KO</label>
                                </div>
                                <div class="row incidenciasRowDiv" id="incidenciasRow">
                                    <label for="incidencias" class="inputLabel">Identificación de incidencias</label>
                                    <textarea class="form-control" id="incidenciasSolicitudRequerimientos" onchange="updateApelacion()" th:text="${ap.solicitudRequerimientosText}"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#imparcialidadExpertosAccordion" aria-expanded="false" aria-controls="collapseTwo">
                            Imparcialidad de expertos
                        </button>
                    </h2>
                    <div id="imparcialidadExpertosAccordion" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#revisionProcesoAccordion">
                        <div class="row accordion-body">
                            <div class="col">
                                <p>- Se hace revisión de la imparcialidad de los expertos involucrados comprobando que no se encuentra ninguna relación que pueda suponer un conflicto de interés para la evaluación</p>
                            </div>
                            <div class="col">
                                <div class="form-check form-switch d-flex justify-content-center align-items-center">
                                    <label class="form-check-label customSwitchLeftLabel" for="imparcialidadExpertosSwitch" id="imparcialidadExpertosSwitchLabel">OK</label>
                                    <input th:if="${ap.imparcialidadExpertos}" checked class="form-check-input customSwitch" type="checkbox" role="switch" id="imparcialidadExpertosSwitch" onchange="manageSwitch(event); updateApelacion()">
                                    <input th:unless="${ap.imparcialidadExpertos}" class="form-check-input customSwitch" type="checkbox" role="switch" id="imparcialidadExpertosSwitch" onchange="manageSwitch(event); updateApelacion()">
                                    <label class="form-check-label customSwitchRightLabel" for="imparcialidadExpertosSwitch" id="imparcialidadExpertosSwitchLabel">KO</label>
                                </div>
                                <div class="row incidenciasRowDiv" id="incidenciasRow">
                                    <div class="col">
                                        <label for="incidencias" class="inputLabel">Identificación de incidencias</label>
                                        <textarea class="form-control" id="incidenciasImparcialidadExpertos" onchange="updateApelacion()" th:text="${ap.imparcialidadExpertosText}"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#revisionInforme4dAccordion" aria-expanded="false" aria-controls="collapseTwo">
                            Revisión del informe 4D
                        </button>
                    </h2>
                    <div id="revisionInforme4dAccordion" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#revisionProcesoAccordion">
                        <div class="row accordion-body">
                            <div class="col">
                                <p>- Código UNESCO adecuado</p>
                                <p>- Competencia experto 4D</p>
                                <p>- Conocimientos que engloben la novedad</p>
                            </div>
                            <div class="col">
                                <div class="form-check form-switch d-flex justify-content-center align-items-center">
                                    <label class="form-check-label customSwitchLeftLabel" for="revisionInforme4dSwitch" id="revisionInforme4dSwitchLabel">OK</label>
                                    <input th:if="${ap.revisionInforme4d}" checked class="form-check-input customSwitch" type="checkbox" role="switch" id="revisionInforme4dSwitch" onchange="manageSwitch(event); updateApelacion()">
                                    <input th:unless="${ap.revisionInforme4d}" class="form-check-input customSwitch" type="checkbox" role="switch" id="revisionInforme4dSwitch" onchange="manageSwitch(event); updateApelacion()">
                                    <label class="form-check-label customSwitchRightLabel" for="revisionInforme4dSwitch" id="revisionInforme4dSwitchLabel">KO</label>
                                </div>
                                <div class="row incidenciasRowDiv" id="incidenciasRow">
                                    <div class="col">
                                        <label for="incidencias" class="inputLabel">Identificación de incidencias</label>
                                        <textarea class="form-control" id="incidenciasRevisionInforme4d" onchange="updateApelacion()" th:text="${ap.revisionInforme4dText}"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#verificacionCompetenciasAccordion" aria-expanded="false" aria-controls="collapseTwo">
                            Verificación de competencias
                        </button>
                    </h2>
                    <div id="verificacionCompetenciasAccordion" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#revisionProcesoAccordion">
                        <div class="row accordion-body">
                            <div class="col">
                                <p>- Comprobar competencia del ET en los conocimientos indicados por el 4D</p>
                            </div>
                            <div class="col">
                                <div class="form-check form-switch d-flex justify-content-center align-items-center">
                                    <label class="form-check-label customSwitchLeftLabel" for="verificacionCompetenciasSwitch" id="verificacionCompetenciasSwitchLabel">OK</label>
                                    <input th:if="${ap.verificacionCompetencias}" checked class="form-check-input customSwitch" type="checkbox" role="switch" id="verificacionCompetenciasSwitch" onchange="manageSwitch(event); updateApelacion()">
                                    <input th:unless="${ap.verificacionCompetencias}" class="form-check-input customSwitch" type="checkbox" role="switch" id="verificacionCompetenciasSwitch" onchange="manageSwitch(event); updateApelacion()">
                                    <label class="form-check-label customSwitchRightLabel" for="verificacionCompetenciasSwitch" id="verificacionCompetenciasSwitchLabel">KO</label>
                                </div>
                                <div class="row incidenciasRowDiv" id="incidenciasRow">
                                    <div class="col">
                                        <label for="incidencias" class="inputLabel">Identificación de incidencias</label>
                                        <textarea class="form-control" id="incidenciasVerificacionCompetencias" onchange="updateApelacion()" th:text="${ap.verificacionCompetenciasText}"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#revisionInformeTecnicoAccordion" aria-expanded="false" aria-controls="collapseTwo">
                            Revisión del informe técnico
                        </button>
                    </h2>
                    <div id="revisionInformeTecnicoAccordion" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#revisionProcesoAccordion">
                        <div class="row accordion-body">
                            <div class="col">
                                <p>- Descripción de obetivos adecuada</p>
                                <p>- Estudio del estado del arte completo</p>
                                <p>- Novedades identificadas y justificadas en el estudio del estado del arte</p>
                                <p>- El estado de ejecución de las actividades se encuentra correctamente argumentado basándose en las evidencias presentadas por la memoria</p>
                                <p>- Valoración del presupuesto y la coherencia/incoherencia del gasto adecuado</p>
                                <p>- Justificación de las partidas de gasto adecuada</p>
                                <p>- Justificación detallada de la calificación global</p>
                                <p>- Las justificaciones de los conocimientos por parte del experto técnico son correctas</p>
                            </div>
                            <div class="col">
                                <div class="form-check form-switch d-flex justify-content-center align-items-center">
                                    <label class="form-check-label customSwitchLeftLabel" for="revisionInformeTecnicoSwitch" id="revisionInformeTecnicoSwitchLabel">OK</label>
                                    <input th:if="${ap.revisionInformeTecnico}" checked class="form-check-input customSwitch" type="checkbox" role="switch" id="revisionInformeTecnicoSwitch" onchange="manageSwitch(event); updateApelacion()">
                                    <input th:unless="${ap.revisionInformeTecnico}" class="form-check-input customSwitch" type="checkbox" role="switch" id="revisionInformeTecnicoSwitch" onchange="manageSwitch(event); updateApelacion()">
                                    <label class="form-check-label customSwitchRightLabel" for="revisionInformeTecnicoSwitch" id="revisionInformeTecnicoSwitchLabel">KO</label>
                                </div>
                                <div class="row incidenciasRowDiv" id="incidenciasRow">
                                    <div class="col">
                                        <label for="incidencias" class="inputLabel">Identificación de incidencias</label>
                                        <textarea class="form-control" id="incidenciasRevisionInformeTecnico" onchange="updateApelacion()" th:text="${ap.revisionInformeTecnicoText}"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#revisionEvaluacionContableAccordion" aria-expanded="false" aria-controls="collapseTwo">
                            Revisión de la evaluación contable
                        </button>
                    </h2>
                    <div id="revisionEvaluacionContableAccordion" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#revisionProcesoAccordion">
                        <div class="row accordion-body">
                            <div class="col">
                                <p>- Coherencia entre el Informe Técnico y el Informe Contable</p>
                            </div>
                            <div class="col">
                                <div class="form-check form-switch d-flex justify-content-center align-items-center">
                                    <label class="form-check-label customSwitchLeftLabel" for="revisionEvaluacionContableSwitch" id="revisionEvaluacionContableSwitchLabel">OK</label>
                                    <input th:if="${ap.revisionEvaluacionContable}" checked class="form-check-input customSwitch" type="checkbox" role="switch" id="revisionEvaluacionContableSwitch" onchange="manageSwitch(event); updateApelacion()">
                                    <input th:unless="${ap.revisionEvaluacionContable}" class="form-check-input customSwitch" type="checkbox" role="switch" id="revisionEvaluacionContableSwitch" onchange="manageSwitch(event); updateApelacion()">
                                    <label class="form-check-label customSwitchRightLabel" for="revisionEvaluacionContableSwitch" id="revisionEvaluacionContableSwitchLabel">KO</label>
                                </div>
                                <div class="row incidenciasRowDiv" id="incidenciasRow">
                                    <div class="col">
                                        <label for="incidencias" class="inputLabel">Identificación de incidencias</label>
                                        <textarea class="form-control" id="incidenciasRevisionEvaluacionContable" onchange="updateApelacion()" th:text="${ap.revisionEvaluacionContableText}"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#documentoCertificacionAccordion" aria-expanded="false" aria-controls="collapseTwo">
                            Documento de certificación
                        </button>
                    </h2>
                    <div id="documentoCertificacionAccordion" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#revisionProcesoAccordion">
                        <div class="row accordion-body">
                            <div class="col">
                                <p>- Coherencia entre el Informe Técnico y el Informe Contable</p>
                            </div>
                            <div class="col">
                                <div class="form-check form-switch d-flex justify-content-center align-items-center">
                                    <label class="form-check-label customSwitchLeftLabel" for="documentoCertificacionSwitch" id="documentoCertificacionSwitchLabel">OK</label>
                                    <input th:if="${ap.documentoCertificacion}" checked class="form-check-input customSwitch" type="checkbox" role="switch" id="documentoCertificacionSwitch" onchange="manageSwitch(event); updateApelacion()">
                                    <input th:unless="${ap.documentoCertificacion}" class="form-check-input customSwitch" type="checkbox" role="switch" id="documentoCertificacionSwitch" onchange="manageSwitch(event); updateApelacion()">
                                    <label class="form-check-label customSwitchRightLabel" for="documentoCertificacionSwitch" id="documentoCertificacionSwitchLabel">KO</label>
                                </div>
                                <div class="row incidenciasRowDiv" id="incidenciasRow">
                                    <div class="col">
                                        <label for="incidencias" class="inputLabel">Identificación de incidencias</label>
                                        <textarea class="form-control" id="incidenciasDocumentoCertificacion" onchange="updateApelacion()" th:text="${ap.documentoCertificacionText}"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="contentPanel" id="resolucionPanel">
            <h3 id="resolucionTitle">Resolución</h3>
            <div class="row">
                <div class="col col-md-6">
                    <label for="resolucionSelect" class="inputLabel">Resolución</label>
                    <select class="form-select" id="resolucionSelect" onchange="updateApelacion()">
                        <option th:selected="${#strings.isEmpty(ap.resolucion)}" value="">Seleccionar...</option>
                        <option th:selected="${ap.resolucion == 'Estimada'}" value="Estimada">Estimada</option>
                        <option th:selected="${ap.resolucion == 'Desestimada'}" value="Desestimada">Desestimada</option>
                    </select>
                </div>
            </div>
            
        </div>

        <div class="contentPanel">
            <h3 id="ncAsociadaTitle">No conformidades asociadas</h3>
            <div class="row" id="ncRow"> <!-- para insertar nc html desde JS -->
                <th:block th:each="nc,iter: ${ap.ncIds}">
                    <div class="col col-md-6 ncCol">
                        <div class="row">
                            <div class="col col-md-6">
                                <label for="ncId" class="inputLabel">ID</label>
                                <!-- <input type="text" class="form-control codigoUnesco" id="ncId" onkeypress="return event.charCode >= 48 && event.charCode <= 57" onchange="updateTA(); checkExistsNC(event)" maxlength="5" th:value="${nc}"></input> -->
                                <input type="text" class="form-control" id="ncId" th:value="${nc}" disabled></input>
                            </div>
                            <div class="col col-md-6 verNcCol" >
                                <label for="ncId" class="inputLabel invisibleLabel">Ver N.C.</label>
                                <button class="btn btn-primary verNcButton" id="showNC" th:value="${nc}" onclick="showNC(event)"><i class="bi bi-eye-fill ncIcon"></i></button>
                                <!-- <button class="btn btn-danger deleteNcButton" th:value="${nc}" onclick="deleteNC(event)"><i class="bi bi-trash ncIcon"></i></button> -->
                                <button type="button" class="btn btn-danger deleteNcButton" id="unbindNCButton" data-bs-toggle="modal" data-bs-target="#desvincularNCModal" onclick="updateNCToUnbind(event)">
                                    <i class="bi bi-trash ncIcon"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </th:block>
                
            </div> 
            <button type="button" id="addNCformButton" class="btn btn-primary" onclick="addNCForm()">Añadir No conformidad</button>
        </div>

        <div class="contentPanel lastPanel">
            <h3 id="comentariosTitle">Comentarios</h3>
            <textarea id="comentarios" class="form-control" th:text="${ap.comentarios}" onchange="updateApelacion()"></textarea>
        </div>

    </div>

    <!-- MODAL DESVINCULAR NC-->
    <div class="modal fade" id="desvincularNCModal" tabindex="-1" aria-labelledby="desvincularNCModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" id="desvincularNCModalDialog">
          <div class="modal-content" id="desvincularNCModalContent">
                <div class="modal-body" id="desvincularNCModalBody">
                    <div class="d-flex align-items-center customModalContent">
                        <div class="row align-items-center">
                            <div class="col col-md-4 offset-1 d-flex align-items-center">
                                <i class="bi bi-exclamation-circle alertIcon"></i>
                            </div>
                            <div class="col  col-md-6 d-flex align-items-center">
                                <p class="confirmationMsg">¿Seguro que deseas desvincular la no conformidad?</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-md-11 d-flex justify-content-end">
                            <button type="button" class="btn btn-secondary unbindModalButton" data-bs-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-danger unbindModalButton" onclick="unbindNC()">Desvincular</button>
                        </div>
                        <div class="col"> </div>
                    </div>
                </div>
          </div>
        </div>
    </div>

    <!-- MODAL ELIMINAR DOCUMENTO APELACION -->
    <div class="modal fade" id="eliminarDocumentoApelacionModal" tabindex="-1" aria-labelledby="eliminarDocumentoApelacionModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" id="eliminarDocumentoApelacionModalDialog">
          <div class="modal-content" id="eliminarDocumentoApelacionModalContent">
                <div class="modal-body" id="eliminarDocumentoApelacionModalBody">
                    
                    <div class="d-flex align-items-center customModalContent">
                        <div class="row align-items-center">
                            <div class="col col-md-4 offset-1 d-flex align-items-center">
                                <i class="bi bi-exclamation-circle alertIcon" ></i>
                            </div>
                            <div class="col  col-md-6 d-flex align-items-center">
                                <p class="confirmationMsg">¿Seguro que deseas eliminar el documento?</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        
                        <div class="col col-md-11 d-flex justify-content-end">
                            <button type="button" class="btn btn-secondary deleteModalButton" data-bs-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-danger deleteModalButton" onclick="deleteDocumento()">Eliminar</button>
                        </div>
                        <div class="col">

                        </div>
                    </div>
                </div>
          </div>
        </div>
    </div>

    <!-- Toast modificacion -->
    <div class="position-fixed top-0 end-0 p-3" style="z-index: 11">
        <div id="modifiedToast" class="toast hide"  data-bs-delay="4000" role="alert" aria-live="assertive" aria-atomic="true">
            <!-- <div class="row toast-header">
            </div> -->
            <div class="row toast-body">
                <!-- <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button> -->
                <div class="col col-md-3 d-flex align-items-center justify-content-center">
                    <i class="bi bi-check-circle customCheck"></i>
                </div>
                <div class="col d-flex align-items-center justify-content-center">
                    <p class="me-auto toastText"> Cambios realizados correctamente</p>
                </div>
            </div>
        </div>
    </div>

    <th:block th:replace="fragments/footer.html :: footer" />
    <script th:src="@{/js/manageApelacion.js}" src="js/manageApelacion.js"></script>
</body>

</html>